.section1 {
    display: flex; flex-direction: column; align-items: first baseline; align-content: stretch;
}
@media only screen and (max-width: 480px) {
    img {
        display: none;
    } 
    }